html, body { height: 90%; padding: 0; margin: 0; background-color: #FCfCFC}
button{
    width: 50%; height: 50%; float: left;
}
#answer1{
    background-color: #f7c631;
}
#answer2{
    background-color: #ccd4da;
}
#answer3{
    background-color: #dc3545;
}
#answer4{
    background-color: #808080;
}

/* #answer1{
    background-color: #4CAF50;
}
#answer2{
    background-color: #f94a1e;
}
#answer3{
    background-color: #3399ff;
}
#answer4{
    background-color: #ff9933;
} */
#buttons{
    text-align: center;
}
#nameText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
    /* color:white; */
}
#scoreText{
    font-family: 'Raleway', sans-serif;
    padding: 0px 10px;
    /* color:white; */
}
#message{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-top:50px;
}

.logo {
    padding: 60px 0 40px
}